:root {
    --global-theme-color-base: hsl(216, 100%, 96%);
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--global-theme-color-base);
}

body {
    overflow: hidden;
}

canvas {
    /* background-color: var(--global-theme-color-base); */
    cursor: crosshair;
}